# example.com.local VirtualHost config file
<VirtualHost *:80>
    ServerAdmin pl@luxain.pro
    DocumentRoot "/Users/pln/Sites/dev.pontevia.local/htdocs"
    ServerName dev.pontevia.local
</VirtualHost>
