# sylvie-test.nanoc.local VirtualHost config file
<VirtualHost *:80>
    ServerAdmin pl@luxain.pro
    DocumentRoot "/Users/pln/Sites/lapetiteecole.nanoc.local/htdocs"
    ServerName www.lapetiteecole.nanoc.local
</VirtualHost>
