# example.com.local VirtualHost config file
<VirtualHost *:80>
    ServerAdmin pl@luxain.pro
    DocumentRoot "/Users/pln/Projects/php/luxain_wordpress/htdocs"
    ServerName www.luxain.pro.wordpress.local
</VirtualHost>
